 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Main</h2>
      <i class="devicon-java-plain colored"></i>
      <i class="devicon-python-plain"></i>
      <i class="devicon-javascript-plain colored"></i>
      <p>Java를 주력 언어로 사용합니다. Python은 주로 딥러닝 기술을 개발할 때 사용했었습니다.</p>
    </div>
    <div class="tech">
      <h2>Tried</h2>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-intellij-plain colored"></i>
      <i class="devicon-nodejs-plain colored"></i>
      <p>주절주절</p>
    </div>
    <div class="tech">
      <h2>Etc</h2>
      <i class="devicon-git-plain colored"></i>
      <i class="devicon-docker-plain colored"></i>
      <i class="devicon-atom-original"></i>
      <p>Git으로 관리를 했었고, </p>
    </div>
</div>
