 <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.12.0/devicon.min.css">
 
 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Main</h2>
      <i class="devicon-java-plain colored"></i>
      <i class="devicon-python-plain"></i>
      <i class="devicon-javascript-plain colored"></i>
      <p>Java를 주력 언어로 사용합니다. Python은 딥러닝 학습·분석 모델을 개발할 때 주 언어로 사용한 경험이 있습니다.
      JavaScript는 주로 웹 개발을 할 때 HTML5, CSS, jQuery와 함께 사용했습니다. 
      그 외 개인적으로 Node.js를 사용하여 서버 개발을 할 때 공부하며 사용한 경험이 있습니다.</p>
    </div>
    <div class="tech">
      <h2>Tried</h2>
      <i class="devicon-spring-plain colored"></i>
      <i class="devicon-nodejs-plain colored"></i>
      <!--<i class="devicon-oracle-original colored"></i>-->
      <i class="devicon-mysql-plain colored"></i>
      <p>대부분의 Web Application은 Spring을 기반으로 개발했습니다.
      또한, 데이터 무결성과 일관성을을 보증해야 하기 때문에 관계형 데이터베이스(RDBMS)를 사용했습니다.
      Node.js는 개인적으로 프로젝트를 진행하며 처음 공부하며 사용해봤습니다. 앞으로 더 잘 사용하고 싶은 욕심이 있습니다.</p>
    </div>
    <div class="tech">
      <h2>Etc</h2>
      <i class="devicon-intellij-plain colored"></i>
      <i class="devicon-git-plain colored"></i>
      <i class="devicon-docker-plain colored"></i>
      <p>InelliJ IDEA를 이용하여 개발을 합니다. Git으로 프로젝트 관리를 해보았고 그외 지라(Jira), 트렐로(Terllo), 젠킨스(Jenkins) 등을 다양하게 써봤습니다.
      쿠버네티스(k8s)환경에서 도커(Docker) 기반 서비스를 개발해본 경험이 있습니다. </p>
    </div>
</div>