<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="monitor" src="{{ "/assets/img/monitor.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> 통합 모니터링 시스템 개발 </h3>
    <ul>
      <li> skills. Java / RV(TIBCO Rendezvous) / Spring / Oracle / Linux </li>
      <li> dev. 2017.05 ~ 2019.07 </li>
      <li> service. SK HYNIX, LG Display </li>
    </ul>
    <p>TIBCO Rendezvous 자체 및 Rendezvous를 사용하는 시스템을 모니터링하여 시스템에서 발생 가능성이 존재하는 장애들을 사전에 예방하는 솔루션입니다.
    TIBCO Rendezvous 통신을 통해 발생한 Queue 및 각 FAB, HOST, APP, PROCESS 정보를 실시간 또는 특정 이력에 대해 모니터링할 수 있습니다.
    미들웨어(RVD) 환경에서 각종 상태 및 데이터를 실시간으로 감지·분석하며, 직관적인 모니터링 UI를 제공합니다.</p>
    <p>서버와 프로세스 자원을 수집하여 모니터링 서버로 전송하고, Application의 Alive, Active/Standby, Deadlock 상태를 실시간으로 감지하는
    Agent 서버 모듈을 개발 하였습니다. 추후 Front-end 개발 작업에도 서포트로 참여하였습니다.</p>    
    <p>위 프로젝트는 설계(DB, Architecture)부터 배포(Linux Packaing) 단계까지 모두 참여하였습니다.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="lms" src="{{ "/assets/img/lms.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> 실시간 통합 로그 관리 시스템 개발 서포트 </h3>
    <ul>
      <li> skills. Java / RV(TIBCO Rendezvous) / ElasticSearch 5.x </li>
      <li> dev. 2016.12 ~ 2017.04 </li>
      <li> service. SK HYNIX, LG Display </li>
    </ul>
    <p>실시간 통합 로그를 수집하고 검색과 간편한 백업 로그 보관을 지원하는 솔루션입니다.
       로그 관리를 쉽게 하여 오류 발생 시 빠른 로그 정보를 분석할 수 있도록 합니다.</p>
    <p>TIBCO Rendezvous 통신을 통해 전달받은 대용량 로그 데이터를 ElasticSearch에 저장하는 기술 및 ElasticSearch 관련 장애 발생 대응에 서포트로 참여하였습니다.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="crack" src="{{ "/assets/img/crack.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> AI 콘크리트 균열 탐지 학습 모델 개발 </h3>
    <ul>
      <li> skills. Python / Tensorflow / Deep-Learning / Kubernetes / Docker  </li>
      <li> dev. 2019.08 ~ 2020.10 </li>
    </ul>
    <p>AI 딥러닝 학습을 통해 콘크리트 구조물의 미세한 균열을 탐지하는 모델을 제안하고 시스템을 개발하였습니다.
       균열 이미지에 대한 이미지 프로세싱을 통해 잡음을 제거하고 길이 측정 기능을 개발하였습니다.
        이 기술은 추후 특허 출원 및 논문으로도 작성되었습니다.</p>
    <p>Tensorflow 라이브러리를 Docker 이미지 작업으로 Kubernetes를 통해 경험해보았습니다.</p>
    <a class="project-link" href="https://github.com/havving/DeepLearning">Check it out</a>
  </div>
</div>


<div class="user-details">
  <h1> Side Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="node" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> NodeBuilder: 자체 프레임워크 개발 </h3>
    <ul>
      <li> skills. Java </li>
      <li> dev. 2017.06 ~ 2017.09 </li>
    </ul>
    <p>Java Reflection을 사용하여 D/I를 통한 객체 생성 및 관리 기능을 자동화하여 개발자가 비즈니스 로직 개발에 집중할수 있도록 해줍니다.
    주요 기능들을 모듈화화여 필요한 기능만을 붙여 프로세스를 쉽게 구성하도록 해줍니다.
    핵심 데이터의 클러스터 업로드를 통해 Web 혹은 CLI를 통해 확인 가능합니다.
    REST 방식으로 실시간으로 설정을 업데이트하며, 원격지에서 프로세스를 다운시킬 수 있습니다.</p>
    <p></p>
    <a class="project-link" href="https://github.com/havving/NodeBuilder">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="sys" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> SysCollector: 시스템 정보 수집 및 저장 시스템 개발 </h3>
    <ul>
      <li> skills. Java / ElasticSearch 5.6.0 / Oracle, MySQL </li>
      <li> dev. 2017.02 ~ 2017.04 </li>
    </ul>
    <p>Sigar 라이브러리와 Java를 통해 시스템에 대한 모니터링 정보(CPU, Memory, Disk, Network, Process)를 수집합니다.
    특정 호스트에 대한 모니터링 정보를 수집할 수 있고, ElasticSearch 엔진 또는 데이터베이스에 수집한 데이터를 저장합니다.
    또는 특정 웹 페이지에 수집한 데이터를 Json 형태로 전달할 수도 있습니다.</p>
    <p>데이터 수집 기능 및 데이터베이스와 ElasticSearch에 데이터를 저장하는 개발 부분에 참여하였습니다.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="db" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> DoubleFresh: 샐러드 픽업 예약 시스템 개발 (개인 프로젝트) </h3>
    <ul>
      <li> skills. Node.js / Flutter / MySQL </li>
      <li> dev. 20221.05 ~ 2021.07 </li>
    </ul>
    <p>사용자가 정기 구독한 샐러드 가게에서 모바일을 통해 픽업 예약을 하고, 관리자는 모바일로 예약 관리를 할 수 있는 Web Application입니다.</p>
    <p>자주 이용하는 가게에서 매번 전화나 메신저로 픽업 예약을 해야하는 번거로움에서 아이디어를 착안하였습니다.
    Node.js와 Flutter는 이번 기회를 통해 처음 접해보고 공부하면서 프로젝트에 적용해 지식과 경험치를 얻을 수 있었습니다.</p>
    <a class="project-link" href="https://github.com/havving/DoubleFresh_flutter">Check it out</a>
  </div>
</div>